<div class="container main">
    <h3>Courses</h3>
    <hr>
    <div class="row">
        <div class="col-6">
            <form class="form-inline">
                <div class="form-group mx-sm-6 mb-2">
                    <label for="inputpassword2" class="sr-only">Search</label>
                    <input type="text" class="form-control" id="search"
                    name="search" placeholder="search">
                </div>
                <button type="button" class="btn btn-info mb-2">Search</button>
            </form>
        </div>
        <div class="col-6">
            <a class="btn btn-info float-right" [routerLink]="['/courses', 'new']">New Course</a>
        </div>
    </div>
    <hr>
    <div class="row">
    <div class="col-6" >
        <app-course-list></app-course-list>
    </div>
    <hr>
    <div class="col-6 ">
        <!-- <app-course-details></app-course-details> -->
        <router-outlet></router-outlet>
    </div>
</div>
</div>








