
<div class="row">
    <div class="col-12">
        <h3>
            Courses list
        </h3>
        <hr>
    </div>
<p>
    <!-- {{_courseService.title}} -->
</p>
    <div class="col-12">
        <p *ngIf="clickedCourseTitle">
            Course {{clickedCourseTitle}} is clicked
        </p>

        <ul class="list-group">
            <app-course-item *ngFor = "let course of courses" [courseData] = "course"
           (CourseClick) = "onCourseClick($event)"
           (click) = "onCourseItemClick(course)">
        </app-course-item>
           
           

        </ul>
    </div>
</div>
